body {
  text-align: center;
}
nav {
  background-color: steelblue;
  padding: 10px;
  text-align: center;
}
a {
  color: white;
  margin: 40px;
  font-size: 1.5em;
}
h1 {
  color: steelblue;


}
  img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

p {
  width: 100%;

}
footer p{
  background-color: steelblue;
  color: white;
  text-align: center;
  font-size: 20px;
  margin: 20px auto;
}
.main-para {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

#active {
  background-color: white;
  color: steelblue;
}